.vscode
debug.txt
*.o
pedit
sample.c
test
sample2.c
test.cpp
experiment/rope
experiment/rope_tophat
experiment/rope_test
experiment/alloc*
experiment/a.out
experiment/rope_benchmark
experiment/include
